#manage-menu-stage {
    @include menu-stage();
}

#manage-main-stage {
    position    : absolute;
    @include slide-left();
    @include full-screen();

	#manage-page-one {
		left: 0;
	    @include full-page();
	    @include momentum-scroll();
	}
	#manage-page-two {
		left: 100%;
	    @include full-page();
	    @include momentum-scroll();
	}
}

#manage-menu {
	height : 100%;
	border-bottom : 1px solid $half-opaque;
	span {
		float: right;
		font-size: 1.6em;
		padding: 20px 10px 0px 0px;
	}
	span.fa-external-link {
		padding-top: 23px;
	}
	span:last-child {
		float: left;
		padding-left: 10px;
		font-size: 1.9em;
	}
}
