/* ================================================================ */
/* Colour Palettes are defined in _colours, and used throughout     */
/* Bootstrap variables are overridden in _variables.custom          */
/* HTML input elements (radio, select, and checkbox) are overriden  */
/*   in _html_inputs to allow cross device standardization			*/
/* The main UI elements are defined in _ui_elements, and a style    */
/*   mixin is made avaiable.										*/
/* Table and Page Layouts are convenience snippets					*/
/* The Media Queries allow targetting the style mixin per device	*/
/* ================================================================ */

@import "_colours";

@import "_variables.custom";

@import "../../bower_components/bootstrap-sass/lib/bootstrap";
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon";

/* Responsive Mobile */
@import "_html_inputs";
@import "_ui_elements";
@import "_form_buttons";
@import "_table_columns";
@import "_page_layouts";
@import "_media_queries";

/* App Specific Tweaks */
@import "_home";
/*** Yeoman Placeholder ***/

/* Standard HTML Elements for Cordova Bootstrap */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

}

div#stage {
    position: absolute;
    margin:   0px;
    padding:  0px;
    width:  100%;
	height: 100%;
}

span.spinner {
  display:    none;
  position:   absolute;
  left:       50%;
  bottom:     10%;
  margin-left: -32px;
}
