<div class="panel panel-lp">
  	<div class="panel-heading text-center title-text fixed">
  		<div>
	        <span class="fa fa-bars"></span>
        	<span>Responsive Mobile!</span>
      </div>
  	</div>

  	<div class="panel-body scroll">
      	<table class="table two-column-left">
	      	<tr><td><span class="fa fa-camera"></span></td><td>A Camera</td></tr>
    	  	<tr><td><span class="fa fa-globe"></span></td><td>A Globe</td></tr>
      	</table>

        <!-- Pill Button -->
        <div class="btn btn-bbg btn-pill">
            <span class="fa fa-hand-o-right"></span>
        </div>
        <!-- Square Buttons - Each of the Four Palettes -->
        <div>
	        <div class="btn btn-bfg btn-square">
	            <span class="fa fa-twitter"></span>
	        </div>
	        <div class="btn btn-bbg btn-square">
	            <span class="fa fa-facebook"></span>
	        </div>
	        <div class="btn btn-blp btn-square">
	            <span class="fa fa-google-plus"></span>
	        </div>
	        <div class="btn btn-bhp btn-square">
	            <span class="fa fa-umbrella"></span>
	        </div>
	    </div>
        <!-- Lozenge Buttons -->
        <div>
	        <div class="btn btn-bfg btn-lozenge">
	            <span class="fa fa-hand-o-left"></span>
	            <span class="button-text">A Hand</span>
	        </div>
	        <div class="btn btn-bfg btn-lozenge">
	            <span class="fa fa-flask"></span>
	            <span class="button-text">A Flask</span>
	        </div>
	    </div>
        <!-- Panel Buttons -->
        <div class="btn btn-bfg btn-panel">
            <span class="fa fa-truck"></span>
            <span class="button-text">A Truck</span>
        </div>
        <!-- Text Format -->
        <div>
        	<div class="title-text">The Title</div>
        	<div class="content-text">This is the content text.</div>
        </div>
    </div>
</div>
