
//
// Use Foreground Palette for body, text, etc
//
$brand-primary:         	$fpf-color 	!default;
$body-bg:               	$fpb-color 	!default;
$text-color:				$fpt-color 	!default;
$panel-bg:                  $fpb-color	!default;

// Typography
// -------------------------
$font-size-base:          	18px !default;
// $font-family-sans-serif:	'champagne__limousinesregular';
// $font-family-sans-serif:	'titillium_webregular';


// Media Queries - Look into this
// Original Breaks - 480, 768, 991, 1200
// Phone Breaks - 330, iPhone 5, 640, 768
// -------------------------
$screen-xs:                  330px !default;
$screen-xs-min:              $screen-xs !default;
$screen-sm:                  640px !default;
$screen-sm-min:              $screen-sm !default;
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

$top-margin:				20px;
