/* ================================================================ */
/* Colour Palettes are defined in _colours, and used throughout     */
/* Bootstrap variables are overridden in _variables.custom          */
/* HTML input elements (radio, select, and checkbox) are overriden  */
/*   in _html_inputs to allow cross device standardization          */
/* The main UI elements are defined in _ui_elements, and a style    */
/*   mixin is made avaiable.                                        */
/* Table and Page Layouts are convenience snippets                  */
/* The Media Queries allow targetting the style mixin per device    */
/* ================================================================ */

@import "_colours";

@import "_variables.custom";

@import "../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap";
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon";

/* Deprecated - TODO: remove, or make optional */
@import "../modules/html/_html";

/* New Generation Mobile Mixins */
@import "mobile_phones";
@import "mobile_mixins";
@import "mobile_orientations";

/* Fonts */

/* Module Styles - TODO: deprecate _toast and improve _home */
@import "../modules/menu/_menu";
@import "../modules/home/_home";
@import "../modules/toast/_toast";
/*** Yeoman Placeholder ***/

/* Standard HTML Elements for Cordova Bootstrap */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-color: $fpb-color;
}

#ios-status {
	display:none;
}

#menu-stage {
    @include menu-stage();
}

/* Main Stage - Full Screen Stage for the App and Container for all Modules */
/* Keep this fixed - Android likes the left: 0px */
#main-stage {
    position: fixed;
    left: 0px;  
    @include full-screen();
}

