/**
 * Mobile Status Bar and Orientation Classes
 */
.ios.portrait {
	#ios-status {
		display: block;
		width: 100%;
		height: 20px;
	}
}

/*
 * Sort this out - Standard approach to iOS 'window' quirks... 
 * And one too many divs? #menu-stage && #menu-template should not be necessary
 */
.ios.landscape.ipad .menu-bar, .ios.landscape.ipad #menu-stage {
    margin-top: 20px;
}
.ios.ipad #menu-anchor {
    margin-top: 10px;
}
.ios.ipad #profile-top-stage {
    margin-bottom   :    -20px; 
}
.android #menu-anchor {
    padding-top: 5px;
}

/*
 * Flip the TwoPager to landscape
 */
.landscape .page-one {
	width : 50% !important;
}
.landscape .page-two {
	/* left  : 50% !important; */
	-webkit-transform   : translate(-50%, 0) !important;
	width : 50% !important;
}
/*
 * Page Two
 */
.showPageTwo {
    /* left: -100% !important; */
	-webkit-transform   : translate(-100%, 0) !important;
}
.landscape .showPageTwo {
	/* left  : 0% !important; */
	-webkit-transform   : translate(0%, 0) !important;
}
.hidePageOne {
    /* left: 100% !important; */
    -webkit-transform   : translate(100%, 0) !important;
}

.showRight {
    left: -100% !important;
}

.offScreen {
	-webkit-transform: translate(-100%, 0) !important;
}
