<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

    <link href="../bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../bower_components/jscrollpane/style/jquery.jscrollpane.css" rel="stylesheet">
    <link href="../bower_components/jscrollpane/themes/lozenge/style/jquery.jscrollpane.lozenge.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet" />

</head>
<body>
    <div id="stage"></div>
    <script data-main="require.app" src="../bower_components/requirejs/require.js"></script>
</body>
</html>


