<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

    <link href="/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/bower_components/jscrollpane/style/jquery.jscrollpane.css" rel="stylesheet">
    <link href="/bower_components/jscrollpane/themes/lozenge/style/jquery.jscrollpane.lozenge.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet" />

</head>
<body>
    <div id="topbar" class="navbar">  
        <ul id="nav-back-container" class="nav navbar-nav pull-left">
          <li><a class="back" href="#back"><div class="nav-icon nav-back-icon"></div></a></li>
        </ul>  
        <ul id="nav-item-container" class="nav navbar-nav pull-right"></ul>  
    </div>   
    <div id="stage"></div>
    <script type="text/javascript" src="/bower_components/requirejs/require.js" data-main="require.app"></script>
</body>
</html>


